<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Detail</title>
    <!-- Add your stylesheets or styling here -->
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h1>Account Detail</h1>

<p>
    {% if Account.student %}
        Student: {{ Account.student.name }}
    {% elif Account.Faculty %}
        Faculty: {{ Account.Faculty.name }}
    {% endif %}
</p>
<p>department: {% if Account.department %}{{ Account.department.name }}{% endif %}</p>
<p>Fees Paid: {% if Account.fees_paid %}Yes{% else %}No{% endif %}</p>
<p>Salary Paid: {% if Account.salary_paid %}Yes{% else %}No{% endif %}</p>

<!-- Add additional details about the Account as needed -->

</body>
</html>
